<div class="feedback-header m-5 d-flex justify-content-center">
  <h1>Feedback</h1>
</div>
<div class="container-sm text-center">
  <div class="mb-3">
    <!-- <label for="userIdInput" class="form-label">User Id or Name</label> -->
    <input type="text" [formControl]="shortIdCtrl" class="form-control mb-3" placeholder="userid or name">
    <textarea type="text" [formControl]="feedbackCtrl" class="form-control" rows="3" placeholder="feedback"></textarea>
  </div>
</div>


<div class="emojis d-flex justify-content-center">
  <div class="feedback-emoji m-5 d-flex flex-column align-items-center" *ngFor="let emoji of emojis; let i = index">
    <div class="emoji" [innerHTML]="emoji.emojiCode" (click)="openModal(emoji)"></div>
    <div class="emoji-description">{{emoji.description}}</div>
    <div class="index">Press {{i+1}}</div>
  </div>
</div>